<!DOCTYPE html>
<html lang="en">

<head>
  <script defer src="https://cdn.jsdelivr.net/npm/handlebars@latest/dist/handlebars.js"></script>
  <title>Project</title>
</head>

<body class="">
  <header class="hero horse-image flex flex-centered">

  </header>

  <main role="main" class="row light">
    <div class="container flex flex-column">
      {{{body}}}
    </div>
  </main>
</body>

</html>
