
   <section class="slider">
      <div class="container">
        <h2 class="visually-hidden">Преимущества</h2>
        <input class="visually-hidden" type="radio" id="product-1" name="toggle" checked>
        <input class="visually-hidden" type="radio" id="product-2" name="toggle">
        <input class="visually-hidden" type="radio" id="product-3" name="toggle">
        <div class="slider-controls">
          <label class="slider-controls-item slider-controls-item--1" for="product-1">Первый</label>
          <label class="slider-controls-item slider-controls-item--2" for="product-2">Второй</label>
        </div>
        <ul class="slider-list">
          <li class="slider-item">
            <h3 class="slider-title">Построение,<br> Организационных диаграмм</h3>
            <a class="slider-item-button button" href="#">Узнать больше</a>
          </li>
          <li class="slider-item slider-loh">
            <h3 class="slider-title h3">отображение <br> данных</h3>
          </li>
        </ul>  
      </div>
    </section>
