
<h1 class="title-header">Cимулятор производственных процессов<br> на молочной ферме.</h1>
<section class="slider">
  <div class="container">
    <h2 class="visually-hidden">Преимущества</h2>
    <ul class="slider-list">
      <li class="slider-item">
        <h3 class="slider-title">Построение,<br> Организационных диаграмм</h3>
        <a class="slider-item-button button" href="#">Узнать больше</a>
      </li>
      <li class="slider-item slider-loh">
        <h3 class="slider-title h3">отображение <br> данных</h3>
        <a class="slider-item-button button slider-buttom-two" href="#">Узнать больше</a>
      </li>
      <li class="slider-item">
        <h3 class="slider-title">Построение,<br> производственных диаграмм</h3>
        <a class="slider-item-button button" href="/trial">Узнать больше</a>
      </li>
    </ul>  
  </div>
</section>
