<br>
<div class="d-flex justify-content-around">
  <div class="p-2 bd-highlight"> <a href="#"><img  style="border-radius: 20px" src="./../1.png" width="500px" height="350px" alt=""></a>
    <br>
     <a href="#" class="btn btn-outline-success" style="margin-top: 10px; margin-left: 180px">Попробовать</a>
  </div>
  <div class="p-2 bd-highlight"> <a href="#"><img style="border-radius: 20px" src="./../1.png" width="500px" height="350px" alt=""></a>
    <br>
  <a href="#" class="btn btn-outline-success" style="margin-top: 10px; margin-left: 180px">Попробовать</a>
  </div>
  <div class="p-2 bd-highlight"> <a href="#"><img style="border-radius: 20px" src="./../1.png" width="500px" height="350px" alt=""></a>
    <br>
     <a href="#" class="btn btn-outline-success" style="margin-top: 10px; margin-left: 180px">Попробовать</a>
  </div>
</div>
